/* Header */
header {
    position: sticky;
    top: 0;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

header::after {
    background-color: var(--color-background);
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    border-bottom: 0.1rem solid var(--color-input-border);
    top: 0;
    z-index: -1;
}

.navigation {
    transition: var(--transition-timing);
    -webkit-transition: var(--transition-timing);
    -moz-transition: var(--transition-timing);
    -ms-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
}

.navigation__list {
    display: flex;
    gap: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
    text-decoration: none;
    font-weight: var(--font-weight-medium);
}

.navigation__link:hover,
.navigation__link:active {
    text-decoration: underline;
    color: var(--color-text);
}

.burger-menu__checkbox {
    display: none;
}

.container:has(.projects:target) .navigation__projects,
.container:has(.skills:target) .navigation__skills,
.container:has(.media:target) .navigation__media,
.container:has(.content:target) .navigation__content,
.container:has(.clients:target) .navigation__clients,
.container:has(.bio:target) .navigation__bio {
    color: var(--color-blue);
    text-decoration: underline;
    font-weight: var(--font-weight-bold);
}

 /* Start Toggle */
.toggle {
    display: flex;
    grid: 1rem;
    margin-left: auto;
}

.toggle__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-18);
}

.toggle__checkbox {
    display: none;
}

.toggle__label {
    position: relative;
    display: block;
    margin-left: 10px;
    background-color: var(--color-black);
    width: 4.5rem;
    height: 2.2rem;
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    transition: 0.3s;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.toggle__label::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    display: block;
    background-color: var(--color-white);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.toggle__checkbox:checked + .toggle__label {
    background-color: var(--color-white);
}

.toggle__checkbox:checked + .toggle__label::before {
    transform: translate(2.1rem);
    background-color: var(--color-green);
    -webkit-transform: translate(2.1rem);
    -moz-transform: translate(2.1rem);
    -ms-transform: translate(2.1rem);
    -o-transform: translate(2.1rem);
}
/* End Toggle */
/* End header */