/* Skills */
.skills__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
}

.skills__column {
    user-select: none;
    transition: var(--transition-timing);
    -webkit-transition: var(--transition-timing);
    -moz-transition: var(--transition-timing);
    -ms-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
}

.skills__column:hover {
    text-shadow: 0 0 5px var(--color-green);
}

.skills__title {
    font-size: var(--font-size-38);
    font-weight: var(--font-weight-semi-bold);
}

.skills__years {
    display: inline-block;
    font-size: var(--font-size-20);
    margin-top: 1rem;
}
/* End Skills */